# Angular specific files
node_modules/
dist/
out-tsc/
tmp/
coverage/

# IDEs and Editors
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db

# Environment files
*.env
*.local

# Compiled output
*.d.ts
*.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
