<div class="test" style="display: flex; height: 100%; width: 100%;">
  <!-- <div class="svg-wrapper-container">
    <div id="svg-container" class="svg-container" style="zoom:0.6">
    </div>
    <div class="download-options">
      <button (click)="downloadSVG()">Download SVG</button>
      <button (click)="downloadPNG()">Download PNG</button>
    </div>
  </div> -->
  <!-- <div *ngIf="selectedBackground" class="svg-wrapper-container" (mouseenter)="showPopup = true" (mouseleave)="showPopup = false"> -->
  <div class="svg-wrapper-container">
    <div *ngIf="isVisible && !showPopup" class="cursor-text" [class.hidden]="!isVisible" [style.left.px]="x + 50" [style.top.px]="y + 20">
        change background
    </div>
    <!-- <div *ngIf="selectedCharacter !== 'ava' && selectedCharacter !== 'jenna' && selectedCharacter !== 'sara' && genderSelected == 'male'">
      <img style="height: 160px;" [src]="maleFacePath()"/>  
          <div style="padding-left: 0px; font-weight: 500;">
            Abin's not interested in us right now—he's too busy with Ava! 😅 <br>
            But hopefully, he’ll come back to us soon! 🤞</div>
    </div> -->
    <div *ngIf="selectedCharacter !== 'ava' && selectedCharacter !== 'jenna' && selectedCharacter !== 'sara' && genderSelected == 'female'">
      <div style="padding-left: 0px; font-weight: 500;">
        Choose one of us from top <span style="font-size: 30px;">☝️</span>
      </div>
      <img *ngFor="let femaleFace of femaleFacePngs" style="height: 80px;  padding: 10px 10px;" [src]="femaleFace"/>  
    </div>
    <div class="character-svg" id="svg-container" (click)="showPopup = true" (mouseenter)="isVisible = true" (mouseleave)="isVisible = false"></div>
  
    <div *ngIf="showPopup" class="popup">
    <!-- <div class="popup"> -->
      <div class="popup__head">
        <div>Choose background</div>
        <div style="padding: 5px; cursor: pointer;" (click)="closePopup($event) ">
          <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.70711 0.292893C1.31658 -0.0976311 0.683418 -0.0976311 0.292894 0.292893C-0.0976301 0.683417 -0.0976301 1.31658 0.292894 1.70711L2.58579 4L0.292894 6.29289C-0.09763 6.68342 -0.09763 7.31658 0.292894 7.70711C0.683419 8.09763 1.31658 8.09763 1.70711 7.70711L4 5.41421L6.29289 7.70711C6.68342 8.09763 7.31658 8.09763 7.70711 7.70711C8.09763 7.31658 8.09763 6.68342 7.70711 6.29289L5.41421 4L7.70711 1.70711C8.09763 1.31658 8.09763 0.683417 7.70711 0.292893C7.31658 -0.0976311 6.68342 -0.0976311 6.29289 0.292893L4 2.58579L1.70711 0.292893Z" fill="#363D61"></path></svg>
        </div>
      </div>
      <div class="popup__body">
        <div [style]="selectedBackground == option.image ? 'border: 3px solid red;' : ''" class="backdrop-option" *ngFor="let option of backgroundOptions" (click)="selectBackground(option)">
          <img [src]="option.image" alt="Background option">
      </div>
    </div>
    </div>
    <!-- <div class="download-options">
      <button (click)="downloadSVG()">Download SVG</button>
      <button (click)="downloadPNG()">Download PNG</button>
    </div> -->
  </div>
<div *ngIf="svgContainerData" style="justify-content: space-between;align-items: center;" id="container">

  <div id="svg-selection-container" class="svg-container">
    <div class="tabs-container">
      <div class="tab" [class.selected]="selectedTab === 'face'" (click)="selectTab('face')">
        <!-- <img src="" alt="Face" class="tab-icon"> -->
        <span style="font-size: 14px; font-weight: 500;">Facial Expression</span>
      </div>
      <div class="tab" [class.selected]="selectedTab === 'handsTogether'" (click)="selectTab('handsTogether')">
        <!-- <img src="" alt="Right Hand" class="tab-icon"> -->
        <span style="font-size: 14px; font-weight: 500;">Hands Together Posture</span>
      </div>
      <div class="tab" [class.selected]="selectedTab === 'rightHand'" (click)="selectTab('rightHand')">
        <!-- <img src="" alt="Right Hand" class="tab-icon"> -->
        <span style="font-size: 14px; font-weight: 500;">Right Arm Posture</span>
      </div>
      <div class="tab" [class.selected]="selectedTab === 'leftHand'" (click)="selectTab('leftHand')">
        <!-- <img src="" alt="Left Hand" class="tab-icon"> -->
        <span style="font-size: 14px; font-weight: 500;">Left Arm Posture</span>
      </div>
      <div class="tab" [class.selected]="selectedTab === 'leg'" (click)="selectTab('leg')">
        <!-- <img src="" alt="Left Hand" class="tab-icon"> -->
        <span style="font-size: 14px; font-weight: 500;">Legs Posture</span>
      </div>
      <div class="tab" [class.selected]="selectedTab === 'logo'" (click)="selectTab('logo')">
        <!-- <img src="" alt="Left Hand" class="tab-icon"> -->
        <span style="font-size: 14px; font-weight: 500;">Add a logo</span>
      </div>
      <div class="tab" [class.selected]="selectedTab === 'background'" (click)="selectTab('background')">
        <!-- <img src="" alt="Left Hand" class="tab-icon"> -->
        <span style="font-size: 14px; font-weight: 500;">Customize Background</span>
      </div>
    </div>
    
    <div class="content-container">
      <div *ngIf="selectedTab === 'face'" class="content">
        <!-- {{selectedFace}} -->
        <div *ngIf="selectedCharacter === 'ava'" class="svg-wrapper">
          <div  style="padding: 35px;" [style]="selectedFace == avaFace ? 'border: 10px solid red; box-shadow: 0 0 0 0px #ff3e3e, 0 16px 19px rgba(166, 99, 99, .28);' : ''" *ngFor="let avaFace of avaFaceSvgs" [innerHTML]="avaFace" class="svg-item" (click)="onFaceClick(avaFace)"></div>
        </div>
        <div *ngIf="selectedCharacter === 'jenna'" class="svg-wrapper">
          <div [style]="selectedFace == jennaFace ? 'border: 10px solid red; box-shadow: 0 0 0 0px #ff3e3e, 0 16px 19px rgba(166, 99, 99, .28);' : ''" *ngFor="let jennaFace of jennaFaceSvgs" [innerHTML]="jennaFace" class="svg-item" (click)="onFaceClick(jennaFace)"></div>
        </div>
        <div *ngIf="selectedCharacter === 'sara'" class="svg-wrapper">
          <div [style]="selectedFace == saraFace ? 'border: 10px solid red; box-shadow: 0 0 0 0px #ff3e3e, 0 16px 19px rgba(166, 99, 99, .28);' : ''" *ngFor="let saraFace of saraFaceSvgs" [innerHTML]="saraFace" class="svg-item" (click)="onFaceClick(saraFace)"></div>
        </div>
        <div *ngIf="selectedCharacter === 'adam'" class="svg-wrapper">
          <div [style]="selectedFace == adamFace ? 'border: 10px solid red; box-shadow: 0 0 0 0px #ff3e3e, 0 16px 19px rgba(166, 99, 99, .28);' : ''" *ngFor="let adamFace of adamFaceSvgs" [innerHTML]="adamFace" class="svg-item" (click)="onFaceClick(adamFace)"></div>
        </div>
        <div *ngIf="selectedCharacter === 'bob'" class="svg-wrapper">
          <div [style]="selectedFace == bobFace ? 'border: 10px solid red; box-shadow: 0 0 0 0px #ff3e3e, 0 16px 19px rgba(166, 99, 99, .28);' : ''" *ngFor="let bobFace of bobFaceSvgs" [innerHTML]="bobFace" class="svg-item" (click)="onFaceClick(bobFace)"></div>
        </div>
        <div *ngIf="selectedCharacter === 'tim'" class="svg-wrapper">
          <div [style]="selectedFace == timFace ? 'border: 10px solid red; box-shadow: 0 0 0 0px #ff3e3e, 0 16px 19px rgba(166, 99, 99, .28);' : ''" *ngFor="let timFace of timFaceSvgs" [innerHTML]="timFace" class="svg-item" (click)="onFaceClick(timFace)"></div>
        </div>
        <div *ngIf="selectedCharacter === 'jimmy'" class="svg-wrapper">
          <div [style]="selectedFace == jimmyFace ? 'border: 10px solid red; box-shadow: 0 0 0 0px #ff3e3e, 0 16px 19px rgba(166, 99, 99, .28);' : ''" *ngFor="let jimmyFace of jimmyFaceSvgs" [innerHTML]="jimmyFace" class="svg-item" (click)="onFaceClick(jimmyFace)"></div>
        </div>
        <div *ngIf="selectedCharacter === 'rohan'" class="svg-wrapper">
          <div [style]="selectedFace == rohhanFace ? 'border: 10px solid red; box-shadow: 0 0 0 0px #ff3e3e, 0 16px 19px rgba(166, 99, 99, .28);' : ''" *ngFor="let rohhanFace of rohanFaceSvgs" [innerHTML]="rohhanFace" class="svg-item" (click)="onFaceClick(rohhanFace)"></div>
        </div>
      </div>
  
      <div *ngIf="selectedTab === 'rightHand'" class="content">
        <!-- {{selectedRightHand}} -->
        <div *ngIf="genderSelected === 'female'" class="svg-wrapper">
          <img [style]="selectedRightHand == femaleRightHandSvgs[i] ? 'border: 10px solid red; box-shadow: 0 0 0 0px #ff3e3e, 0 16px 19px rgba(166, 99, 99, .28);' : ''" *ngFor="let rightHandPng of rightHandPngPaths; let i = index" [src]="rightHandPng" class="svg-item" (click)="onHandClick(femaleRightHandSvgs[i], 'right')"/>
        </div>
        <div *ngIf="genderSelected === 'male'" class="svg-wrapper">
          <img [style]="selectedRightHand == maleRightHandSvgs[i] ? 'border: 10px solid red; box-shadow: 0 0 0 0px #ff3e3e, 0 16px 19px rgba(166, 99, 99, .28);' : ''" *ngFor="let rightHandPng of maleRightHandPngPaths; let i = index" [src]="rightHandPng" class="svg-item" (click)="onHandClick(maleRightHandSvgs[i], 'right')"/>
        </div>
      </div>
  
      <div *ngIf="selectedTab === 'leftHand'" class="content">
        <!-- {{selectedLeftHand}} -->
        <div *ngIf="genderSelected === 'female'" class="svg-wrapper">
          <img [style]="selectedLeftHand == femaleLeftHandSvgs[i] ? 'border: 10px solid red; box-shadow: 0 0 0 0px #ff3e3e, 0 16px 19px rgba(166, 99, 99, .28);' : ''" *ngFor="let leftHandPng of leftHandPngPaths; let i = index" [src]="leftHandPng" class="svg-item" (click)="onHandClick(femaleLeftHandSvgs[i], 'left')"/>
        </div>
        <div *ngIf="genderSelected === 'male'" class="svg-wrapper">
          <img [style]="selectedLeftHand == maleLeftHandSvgs[i] ? 'border: 10px solid red; box-shadow: 0 0 0 0px #ff3e3e, 0 16px 19px rgba(166, 99, 99, .28);' : ''" *ngFor="let leftHandPng of maleLeftHandPngPaths; let i = index" [src]="leftHandPng" class="svg-item" (click)="onHandClick(maleLeftHandSvgs[i], 'left')"/>
        </div>
      </div>

      <div *ngIf="selectedTab === 'handsTogether'" class="content">
        <!-- {{selectedLeftHand}} -->
        <div *ngIf="genderSelected === 'female'"> 
          <div class="svg-wrapper">
            <img [style]="selectedHandsTogether == handsTogetherSvgs[i] ? 'border: 10px solid red; box-shadow: 0 0 0 0px #ff3e3e, 0 16px 19px rgba(166, 99, 99, .28);' : ''" *ngFor="let handTogetherPng of handsTogetherPngPaths; let i = index" [src]="handTogetherPng" class="svg-item" (click)="onHandClick(handsTogetherSvgs[i], 'handsTogether')"/>
          </div>
        </div>
        <div *ngIf="genderSelected === 'male'"> 
          <div class="svg-wrapper">
            <img [style]="selectedHandsTogether == maleHandTogetherSvgPaths[i] ? 'border: 10px solid red; box-shadow: 0 0 0 0px #ff3e3e, 0 16px 19px rgba(166, 99, 99, .28);' : ''" *ngFor="let handTogetherPng of maleHandTogetherPngPaths; let i = index" [src]="handTogetherPng" class="svg-item" (click)="onHandClick(maleHandsTogetherSvgs[i], 'handsTogether')"/>
          </div>
        </div>
        
      </div>

      <div *ngIf="selectedTab === 'leg'" class="content">
        <img style="height: 80px; padding-top: 100px; padding-left: 10px;" [src]="avaFacePaths[0]"/>  
        <div style="padding-left: 0px;">
          Feature coming soon!!! Thanks for checking out 😍
        </div>
      </div>

      <div *ngIf="selectedTab === 'logo'" class="content">
        <div class="upload-container">
          <div class="container">
            <!-- SVG Upload Button -->
            <label class="upload-label" for="svg-upload">
              <span>Upload SVG</span>
              <input type="file" id="svg-upload" accept=".svg" (change)="onSvgUpload($event)">
            </label>
            <div style="font-size: 12px; padding-top: 10px;"><span style="color: red;">*</span> Only support SVG files</div>

            <!-- SVG Preview -->
            <div class="preview-container" *ngIf="svgPreview">
              <div class="preview-heading">SVG Preview</div>
              <div class="svg-preview" [innerHTML]="svgPreview"></div>
            </div>
          
            <!-- Color Picker -->
            <div class="color-picker-container" *ngIf="svgPreview">
              <label for="colorPicker" class="color-picker-label">Choose Color:</label>
              <input id="colorPicker" type="color" [(ngModel)]="selectedColor" class="color-picker-input"/>
            </div>
          
            <!-- Opacity Slider -->
            <div class="opacity-slider-container" *ngIf="svgPreview">
              <label for="opacitySlider" class="opacity-slider-label">Choose Opacity:</label>
              <input id="opacitySlider" type="range" min="0" max="1" step="0.1" [(ngModel)]="selectedOpacity" class="opacity-slider-input"/>
            </div>
          
            <!-- Button to Apply Color and Opacity -->
            <button *ngIf="svgPreview" (click)="applyColorChange(selectedColor, selectedOpacity)" class="apply-button">Apply Color and Opacity</button>
          
            
          </div>
          
          
          
        </div>
      </div>

      <div *ngIf="selectedTab === 'background'" class="content">
        <!-- {{selectedLeftHand}} -->
        <img style="height: 80px; padding-top: 100px; padding-left: 10px;" [src]="avaFacePaths[0]"/>  
        <div style="padding-left: 0px;">
          Feature coming soon!!! Thanks for checking out 😍
        </div>
      </div>
    </div>
  </div>
</div>

</div>
