#container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #svg-selection-container {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
  }
  
  #face-container, #hand-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* .svg-wrapper {
    width: 100px; 
    height: 100px; 
    margin: 10px;
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  .svg-wrapper svg {
    max-width: 100%;
    max-height: 100%;
  }
  
  .svg-wrapper-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background: url(/background-grid-image.png) no-repeat 50% / cover; */
    width: 65%;
  }
  
  .download-options {
    display: none; /* Hide by default */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for width and height */
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px; /* Add padding for better look */
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .character-svg:hover {
    cursor: url('public/cursor.svg'), auto;;
  }

  .cursor-text {
    /* ... existing styles ... */
    position: fixed; /* Add this if not already present */
    pointer-events: none; /* Prevents the text from interfering with mouse events */
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    color: #363d61;
    font-size: 12px;
    font-weight: 600;
    /* -webkit-text-stroke: 0.5px white; */
  }
  
  .cursor-text.hidden {
    opacity: 0;
  }
  
  .download-options button {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .download-options button:hover {
    background-color: #0056b3;
  }

  .test {
  display: flex;
  justify-content: center; /* or use space-around for equal space around items */
  align-items: center; /* centers items vertically if needed */
  height: 100%; /* Ensures the container takes the full height of its parent */
  width: 100%;
  flex-wrap: wrap;
  }

  .popup {
    position: absolute;
    top: 0;
    left: 10%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    /* background-color: white; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* padding: 10px; */
    z-index: 10;
    background: #fff;
    box-shadow: 0 16px 19px rgba(166, 99, 99, .15);
    border-radius: 8px;
    width: 250px;
  }
  
  .backdrop-option {
    /* margin-bottom: 10px; */
    cursor: pointer;
    display: flex;
    padding: 5px;
    border: 3px solid #eee;
    border-radius: 6px;
    margin: 5px;
  }
  
  .backdrop-option img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .backdrop-option:hover {
    /* border: 2px solid rgb(181, 181, 181); */
    transform: scale(1.05);
  }

  .popup__head {
    display: flex;
    height: 40px;
    padding: 0 16px;
    border-bottom: 1px solid rgba(221, 218, 220, .5);
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    /* cursor: move; */
    justify-content: space-between;
}

.popup__body {
  max-height: 280px;
  color: transparent;
  transition: color .2s;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 10px; */
  margin: 10px 10px;
  /* justify-content: center; */
}
  
/* new css changes */

.content {
  /* zoom: 0.5; */
  height: 500px;
  width: 200px;
  /* display: flex; */
  flex-wrap: wrap;
}

.svg-container {
  display: flex;
  padding: 20px;
  /* width: 320px; */
  /* background-color: #f9f9f9; */
  border-radius: 10px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.tabs-container {
  display: flex;
  flex-direction: column;
  /* width: 250px; */
  margin-right: 20px;
  border-right: 2px solid #eee;
}

.tab {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tab:hover {
  background-color: #f0f0f0;
}

.tab.selected {
  background-color: #ffe5e5;
  border-left: 4px solid #ff5a5a;
}

.tab-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.content-container {
  flex-grow: 1;
  /* padding-left: 20px; */
}

.svg-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  zoom: 0.3;
}

.svg-item {
  padding: 15px;
  margin: 12px 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 10px solid #eee; 
  border-radius: 20px;
}

.svg-item:hover {
  transform: scale(1.05);
}

@media (max-width: 2600px) {
  .character-svg {
    /* transform: scale(0.6); */
    zoom: 0.55;
  }
}

@media (max-width: 1500px) {
  .character-svg {
    /* transform: scale(0.6); */
    zoom: 0.6;
  }
}

@media (max-width: 1200px) {
  .character-svg {
    /* transform: scale(0.6); */
    zoom: 0.6;
  }
}

@media (max-width: 992px) {
  .character-svg {
    /* transform: scale(0.5); */
    zoom: 0.4;
  }
}

@media (max-width: 768px) {
  .character-svg {
    /* transform: scale(0.4); */
    zoom: 0.4;
  }
}

@media (max-width: 576px) {
  .character-svg {
    /* transform: scale(0.3); */
    zoom: 0.3;
  }
}

